<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Learning Parts</title>
</head>

<body>

    <h1>Angular Data Binding</h1>
    <h2>Interpolation: </h2>
    <app-hello></app-hello>
    <h2>Property Binding & Event Binding</h2>
    <app-author-list></app-author-list>
    <h2>Twoway Binding</h2>
    <input type="text" [(ngModel)]='name'>
    <h3>Name with twoway binding : {{name}}</h3>
    <app-toggle [(checked)]='checked'></app-toggle>
</body>

</html>